/*---------------------------------------------*/
/*---- CALL TO ACTION ----*/
/*---------------------------------------------*/

#we-are-ready {
  text-align: center;
  padding-top: 63px;
  padding-bottom: 80px;
}

#we-are-ready button {
  height: 44px;
  width: 195px;
  background: #0d79b8;
  color: #fff;
  font-family: Montserrat-Bold, Arial, sans-serif;
  border: none;
  font-size: 18px;
}

#we-are-ready h3 {
  font-family: Montserrat-Regular, Arial,sans-serif;
  line-height: 72px;
  margin-bottom: 27px;
  color:#1a1b20;
}