/*---------------------------------------------*/
/*---- TOP HEADER ----*/
/*---------------------------------------------*/
#top-header {
  padding: 9px 0;
  background-color: #1a1b20;
  color: #484649;
  font-size: 14px;
  font-family: Montserrat-Regular, Arial, sans-serif;
}

/*---------------------------------------------*/
/*---- HEADER ----*/
/*---------------------------------------------*/
header {
  padding: 25px 0;
}

